#bitcoin-price-container {
  display: flex; /* use flexbox to align img and p side-by-side */
  align-items: center; /* vertically center them */
}

#bitcoin-logo {
  height: 1em; /* set the height of the image to the same as the font-size of the text */
  margin-right: 0.5em; /* add some spacing between the image and text */
}

#current-price {
  font-size: 1rem; /* set the font-size of the text */
}
