.carousel-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.carousel-item {
  height: 100vh;
}

#user-tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
