.carousel-image {
  height: 80%;
  width: 100%;
  object-fit: contain;
}

.carousel-item {
  height: 80vh;
}

#user-tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#tutorial-modal {
  max-height: 100px;
  height: 100px;
}
